# SPDX-FileCopyrightText: 2020-2021 Memories Project
#
# SPDX-License-Identifier: Apache-2.0

*.iml
*.log
*~
.mvn/wrapper/maven-wrapper.jar

.idea
target
api/src/main/c/include/memories_jni_JNIMemory_Unsafe.h
api/src/main/c/include/memories_jni_JNIMemoryAllocator_Unsafe.h
api/target
api/CMakeFiles
api/CMakeCache.txt
api/cmake_install.cmake
api/Makefile
api/src/main/c/obj
benchmark/target
benchmark/dependency-reduced-pom.xml
spi/target